:root {
    --bg-base: #0a0a0a;     /* pg backgroudn*/
    --bg-panel: #111111;     
    --bg-elevated: #1a1a1a;   /*hover states, inputs */
    --bg-active: #222222;    
    
    --border: #1f1f1f;
    --border-bright: #2a2a2a;

    --text-primary: #e8e8e8;
    --text-secondary: #888888;
    --text-tertiary: #555555;

    --amber: #ff9500;     /* the signature Bloomberg orange */
    --amber-dim: #b86b00; /* darker amber for borders/secondary */
    --green: #00d672;     /* gains, positive change */
    --red: #ff3b3b;       /* losses, negative change */
    --cyan: #00bfff;      /* info, links */

    --font-mono: 'IBM Plex Mono', monospace;
    --font-sans: 'IBM Plex Sans', sans-serif;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: var(--font-sans);
    background: var(--bg-base) ;
    color: var(--text-primary);
    font-size: 13px;
    display: flex;
    flex-direction: column;
}
/* --------------------- */
/* TICKER TAPE */
.ticker-tape {
    background: #000;
    border-bottom: 1px solid var(--border);
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}



/* ------------------- */
/* TOP BAR */
.topbar {
    height: 52px;
    background: var(--bg-panel);
    display: flex;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--font-mono);
}

.logo-dot {
    width: 8px;
    height: 8px;
    background: var(--amber);
    border-radius: 50%;
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0%, 100% { opacity: 1;}
    50% { opacity: 0.4; }
}

